---
import OtherPages from "../layouts/OtherPages.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import threeKimono from "@assets/kimono.png";
import lbjpMobile from "@assets/lbjp_mobile.png";
---

<OtherPages>
  <main
    class="flex flex-col justify-center text-jade-50 w-screen flex flex-col items-center"
  >
    <div class="w-screen max-w-5xl min-w-[265px] my-8"></div>
    <div
      class="flex flex-col w-screen max-w-5xl md:min-w-[265px] bg-neutral-800"
    >
      <span class="flex flex-col p-4 py-24 self-center max-w-5xl">
        <h2 class="self-center pb-8 text-6xl font-bold text-jade-50">About</h2>
        <p class="max-w-lg pb-4">Hey, it's Chie^^</p>
        <p class="max-w-lg pb-4">
          I've ended up aquiring a lot of different skills over the years. But
          one thing that has remained consistent is my enjoyment of
          conceptualizing abstract thoughts and bringing them to life.
        </p>
        <p class="max-w-lg pb-4">
          My current main project is rebuilding <a
            class="underline decoration-neutral-400"
            href="https://www.nativshark.com/">NativShark</a
          > with Caleb.
        </p>
        <p class="max-w-lg pb-4">
          Aside from coding the new platform, I make illustrations as the need
          arrises, make podcast recordings and write show notes, take close-up
          photos of plants on walks, and make art when I find some time on the
          weekends.
        </p>
        <p>
          You can reach me at <a class="border-b-2 border-jade-500 w-fit"
            >chie.anders@gmail.com</a
          >.
        </p>
      </span>
      <div class="flex flex-col gap-2 lg:mx-auto lg:w-4/5">
        <Image
          class="block"
          src={threeKimono}
          alt="three different kimono illustrations"
        />
      </div>
      <div class="h-24"></div>
    </div>
  </main>
  <div class="h-24"></div>
  <!-- // lbjp website
// currently working on nativshark! -->

  <!-- support site -->
  <Footer />
</OtherPages>
