---
import OtherPages from "../layouts/OtherPages.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import lbjpScreen from "@assets/lbjp_screen.png";
import lbjpMobile from "@assets/lbjp_mobile.png";
---

<OtherPages>
  <main
    class="flex flex-col justify-center text-jade-50 w-screen flex flex-col items-center"
  >
    <div class="w-screen max-w-5xl min-w-[265px]">
      <span class="flex flex-col p-4 py-24 items-center max-w-5xl">
        <h1 class="font-bold text-6xl pb-8 self-center">Coding</h1>
        <ul class="list-disc list-inside text-xl max-w-lg self-center">
          <li>Javascript & Typescript</li>
          <li>React</li>
          <li>Remix</li>
          <li>Astro</li>
        </ul>
      </span>
    </div>
    <div
      class="flex flex-col w-screen max-w-5xl md:min-w-[265px] bg-neutral-800"
    >
      <span
        class="flex flex-col p-4 py-24 self-center justify-center itmes-center max-w-5xl"
      >
        <h2 class="font-bold self-center text-6xl text-jade-50">Laid-Back</h2>
        <div
          class="font-bold flex flex-col md:flex-row pb-8 text-6xl text-jade-50 mx-auto justify-center itmes-center"
        >
          <h2 class="">Japanese</h2>
          <h2 class="pl-4">Podcast</h2>
        </div>

        <p class="max-w-lg self-center pb-4">
          A podcast where you can listen to laid-back conversations in English
          about Japanese language and culture. The episodes are packed with
          valuable, usable information. It's free of tedious drills, vocab
          lists, and grammar sections. The landing site is made with Astro and
          some React components.
        </p>
        <p class="max-w-lg pb-4">
          I made the site as well as all the art used on it^^
        </p>
        <a
          href="https://laidbackjapanese.com/"
          class="border-b-2 border-jade-500 w-fit hover:border-jade-300"
          >Here's a link to the site.</a
        >
      </span>
      <div class="flex md:px-20 lg:mx-auto lg:w-4/5">
        <Image
          class="hidden md:block"
          src={lbjpScreen}
          alt="Laid-back Japanese Podcast landing page image"
        />
        <Image
          class="md:hidden px-4"
          src={lbjpMobile}
          alt="Laid-back Japanese Podcast landing page image"
        />
      </div>
      <div class="h-24"></div>
    </div>
  </main>
  <div class="h-24"></div>
  <!-- // lbjp website
// currently working on nativshark! -->

  <!-- support site -->
  <Footer />
</OtherPages>
