---
import HeaderLink from "./HeaderLink.astro";
---

<header class="fixed font-frankrl font-bold z-10 top-0">
  <nav
    class="flex justify-center h-20 border-b-2 border-jade-400 w-screen text-lg md:text-xl text-jade-300 bg-neutral-800"
  >
    <div
      class="flex flex-row items-center justify-between w-screen max-w-5xl min-w-[265px] px-4"
    >
      <HeaderLink
        class="hidden md:block font-frankrl font-black text-jade-200 text-2xl md:text-4xl"
        href="/"
      >
        Chie Andersen
      </HeaderLink>
      <HeaderLink
        class="md:hidden font-frankrl text-jade-200 text-4xl md:text-5xl"
        href="/"
      >
        Chie
      </HeaderLink>
      <div class="justify-end">
        <HeaderLink class="mr-4 hover:text-jade-50" href="/2d">2D</HeaderLink>
        <HeaderLink class="mr-4 hover:text-jade-50" href="/3d">3D</HeaderLink>
        <HeaderLink class="hover:text-jade-50 mr-4" href="/code">
          Code
        </HeaderLink>
        <!-- <HeaderLink class="hover:text-jade-50 mr-4" href="/video">
          Video
        </HeaderLink> -->
        <HeaderLink class="hover:text-jade-50" href="/about">About</HeaderLink>
      </div>
      <!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
      Twitter
    </HeaderLink> -->
    </div>
  </nav>
</header>
