---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ModalButton from "./modal-button";
---

<header class="fixed z-10 top-0">
  <nav
    class="flex flex-row h-16 w-screen text-2xl bg-neutral-700 justify-around items-center"
  >
    <h1>Chie Andersen</h1>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
      Twitter
    </HeaderLink>
    <ModalButton client:load>Fancy Text</ModalButton>
  </nav>
</header>
