---
import ThreeD from "../components/ThreeD.astro";
import TwoD from "../components/TwoD.astro";
import OtherPages from "./OtherPages.astro";
---

<OtherPages>
  <div class="h-12"></div>
  <div class="bg-jade-400 h-screen">
    <TwoD />
    <ThreeD />
  </div>
</OtherPages>
