---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<body class="relative">
  <main class="bg-jade-600">
    <Header />
    <section class="relative justify-center items-center">
      <div class="overflow-x-hidden bg-jade-600">
        <div class="h-20"></div>
        <slot />
      </div>
    </section>
  </main>
</body>
