---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ModalButton from "../components/ModalButton";
import { Image } from "@astrojs/image/components";
import banner from "../images/chie-banner.jpg";
import mobileBanner from "../images/portrait-chie.jpg";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<body class="relative">
  <main class="h-screen">
    <Header />
    <section class="relative justify-center items-center">
      <div class="overflow-auto bg-jade-400">
        <div class="bg-white h-16"></div>
        <slot />
      </div>
      <Footer />
    </section>
  </main>
</body>
